
<my-head></my-head>
<div class="list">
    <div class="wrap">
        <h2><span><a href="../../index.html">首页</a> > </span><span><a href="../bijia.html">全部分类</a> > </span><span id="category">电视 > </span><i class="icon iconfont icon-fenlei"></i></h2>
        <div class="items" id="list-box">
            <!--<div class="item clear" data-product-id={{ #value.productId }} data-category-id={{ #value.categoryId }}>
                <a href="#">
                    <div class="item-left">
                        {{ #value.productImg }}
                    </div>
                    <div class="item-right">
                        <p>{{ #value.productName }}</p>
                        <span>{{ #value.productPrice }}</span>
                        <p><span>{{ #value.productQuote }}</span><span>{{ #value.productCom }}</span></p>
                    </div>
                </a>
            </div>-->
        </div>
    </div>
</div>

<my-foot></my-foot>
