
<div class="home-header">
    <div class="wrap clear">
        <div class="left"><h1>蜜思购</h1></div>
        <div class="center left">
            <span>全网比价<i class="icon iconfont icon-iconfontdian1"></i>折扣</span>
            <em>www.misigou.com</em>
        </div>
        <div class="right">
            <i class="icon iconfont icon-yonghu"></i>
        </div>
    </div>
</div>
<div class="serach">
    <form action="" method="post">
        <input type="text" name="" id="" value="" placeholder="请输入你想比价的商品"/>
        <input type="button" value="搜索"/>
    </form>
</div>
<div class="home-nav">
    <div class="wrap" id="nav-box">
        <!--首页导航-->
        <ul class="clear">
			<li *ngFor="let res of results">
				<a  (click)="goOther(res.indexmenuId)"><img src="assets/images/ic_kb.png"/> <p>{{ res.name }}</p></a>
			</li>
		</ul>
    </div>
</div>
<div class="home-hot"> 
    <div class="wrap">
        <h2>超值折扣推荐</h2>
        <home-list></home-list>
    </div>
</div>
<!--分页结构-->
<!--<div class="page">
       
</div>-->
<!--这里标签闭合需要闭合闭合闭合-->
<page (OnChange)="On($event)"></page>
<!--分页结构-->
 <my-foot></my-foot>
