<my-head [title]="'商品详细信息'"></my-head>
<div class="sqk-content">
    <div class="wrap">
        <!--内容页-->
        <div id="sqk-box">
            <h3>移动端凑单品 ： 海天鲜味生抽 1.28L</h3>
            <p>
                <span>京东商城</span>
                <span>10-25</span>
                <span>12:10</span>
                <span>admin</span>
                <span>/蜜思购</span>
            </p>
            <div class="box">
                <article class="clear">
                    <img src="../public/img/haitao.png"/>
                    阿里字库所发布的字体版权归原作者所有，任何商业用途均须联系作者。如未经授权用作他处，作者将保留追究侵权者法律责任的权利。
                </article>
                <p>阿里字库所发布的字体版权归原作者所有</p>
                <img src="../public/img/ic_bcj.png" class="l-small"/>
                <div class="address">
                    <ul>
                        <li>北京<a href="">有货</a></li>
                        <li>北京<a href="">有货</a></li>
                        <li>北京<a href="">有货</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--内容页-->
    </div>
    
    <!--评论区域-->
    <div id="comment"></div>
    <!--评论区域-->
</div>
<my-foot></my-foot>			
		
		
	
	<!--<script type="text/html" id="tmp">
		{{ each result as value index }}
		<h3 data-product-id={{ #value.productId }}>{{ #value.productName }}</h3>
		<p>
			<span>{{ #value.productFrom }}</span>
			<span>{{ #value.productTime }}</span>
			<span>{{ #value.productTips }}</span>
		</p>
		<div class="box">
			<article class="clear">
				{{ #value.productImgSm }}
				{{ #value.productInfo2 }}
			</article>
			
			{{ #value.productImg2 }}
			<div class="address">
				<ul>
					<li>北京<a href="">有货</a></li>
					<li>北京<a href="">有货</a></li>
					<li>北京<a href="">有货</a></li>
				</ul>
			</div>
		</div>
		{{ /each }}
	</script>-->
	